.wrapper {
            width: 1000px;
            margin: 0, auto;

        }
.wrapper .head {
    width: 100%;
    height: 40px;


    }
.wrapper .body {
    width: 100%;
    min-height: 600px;
    background: #ccc;
    font-size: 0;
    }
.wrapper .body ul {
    font-size: 14px;
    }
.wrapper .body .left {
    width: 300px;
    min-height: 600px;
    background: yellow;
    display: inline-block;
    vertical-align: top;

    }
.wrapper .body .main {
    width: 660px;
    margin-left: 40px;
    min-height: 600px;
    background: green;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    }
.wrapper .body .main .item {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: red;
    width: 80px;
    min-height: 100px;
    text-decoration: none;
    }
.wrapper .body .main .item img {
    display: block;
    }

.wrapper .body .main .item span {
    color: #fff;
    }
.wrapper .body .main .item .title {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
.wrapper .body .main .item .price {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
.wrapper .body .item .buy {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    color: #000;
        }
.wrapper .body .item .price {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }

.wrapper .body .item .full {
    max-width: 600px;
    height: auto;
    }

.cart {

    font-size: 20px;
    color: #9d9d9d;
    float: right;
    display: inline;
    height: 50px;
    vertical-align: center;

    }

.cart:hover {
    color: white;
}

.cart .summa {
    display: inline-block;

    margin-left: 20px;
    margin-top: 11px;
}
.cart .summa:after{
    content: 'руб';
    margin-left: 5px;

}
.korzina .row{
    display: block;
    width: 100%;
}
.korzina .row img, .korzina .row .name, .korzina .row .price, .korzina .row .delete {
    display: inline-block;
    vertical-align: center;
    width: 30%;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 20px;

}
.korzina .row .delete{
    width: 10px;
    text-decoration: underline;

    cursor:pointer;
}

.item .price {
font-size: 30px;
}
.item .buy {
font-size: 20px;
}
.wrapper .total {
    font-size: 30px;
    margin-top: 50px;
}