<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>onlineStore</title>
    <!-- BootStrap -->

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'jquery.cookie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="container">
        <div class="row">
            <h1> {{sitename}}</h1>

            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            {% for category in categories %}
                            <li><a href="/cat/{{category.alias}}/">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>

                        <a href="/cart/">
                        <div class="cart"><span class="glyphicon glyphicon-shopping-cart"></span><span class="summa">0</span>
                        </div></a>
            <script>
                $(function(){
                        var arr1 = $.cookie('cart');
                        if(!arr1){
                            arr1 = '[]';
                        }
                        var json2 = $.parseJSON(arr1);
                        var summa1 = 0;
                        $.each(json2, function(index, value) {
                            summa1 = summa1 + parseInt(value['price']);
                        });
                        $('.cart .summa').text(summa1);

                    $(".buy").click(function(){
                        var arr = $.cookie('cart');
                        if(!arr){
                            arr = '[]';
                        }
                        var json = $.parseJSON(arr);
                        json.push({
                            'name':$('h2').text(),
                            'price':$('span.value').text(),
                            'img':$('img.full').attr('src'),
                        });
                        $.cookie('cart', JSON.stringify(json), {path:'/'});
                        var summa = 0;
                        $.each(json, function(index, value) {
                            summa = summa + parseInt(value['price']);
                        });
                        $('.cart .summa').text(summa);

                    });
                });
            </script>
                    </div>
                </div>

            </div>

            {% block content %}
            {% endblock %}
        </div>
    </div>



</body>
</html>