{% extends 'base.html' %}

{% block content %}
<div class="center">
    <h2>{{category.name}}</h2>
    <div class="row">
    {% for tovar in tovars %}

        <div class="col-sm-3">
            <a href="/item/{{tovar.alias}}/">
                <div class="caption"><h3>{{tovar.name}}</h3></div>
                <img src="{{tovar.image}}" width=auto height="100">

                <div class="caption"><h4>{{tovar.price}}</h4></div>

            </a>
        </div>

    {% endfor %}
    </div>
</div>

{% endblock %}