
{% extends 'base.html' %}

{% block content %}

    <div class="center">
        <div class="head"><h2> {{tovar.name}}</h2> </div>

        <div class="body">
            <div class="item">
                <div class="col-sm-5">
                <img class="full" src="{{tovar.image}}" alt="" width="300px">
                </div>
                <div class="col-sm-7">
                <span class="price"><span class="value">{{tovar.price}}</span> руб</span>
                <div><a href="#" class="buy">Добавить в корзину</a></div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}