
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order-page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'jquery.cookie.js' %}"></script>
</head>
<body>

    <div class="wrapper">
        <div class="head"><h1>Ваша корзина</h1> </div>
        <div class="korzina">

        </div>
        <div class="total">Сумма вашего заказа: <span class="summa">0</span> руб. </div>
        Ваше имя: <input name="name" placeholder="Иванов Иван">
        Ваше телефон: <input name="phone" placeholder="89163748739">
        <a href="#" class="zakaz">Оформить заказ</a>
    </div>
    <script type="text/javascript">
        $(function(){
        var arr1 = $.cookie('cart')
        if(!arr1){
                    arr1 = '[]';
                }
                var json2 = $.parseJSON(arr1);
                var summa1 = 0;
                $.each(json2, function(index, value) {
                    $('.korzina').append('<div class="row"> <div class="id" style="display:none">'+index+'</div><img src="'+value["img"]+'"><div class="name">'+value["name"]+'</div> <div class="price"> '+value["price"]+'</div> <div class="delete">X</div></div>');
                    summa1 = summa1 + parseInt(value['price']);
                });
                $('.total .summa').text(summa1);
                $('.delete').on('click', function(){
                    var parent = $(this).parent();
                    var obj = parseInt($(this).closest('.row').find('.id').text());
                    var arr = $.cookie('cart');
                    if(!arr){
                        arr = '[]';
                    }
                    var json = $.parseJSON(arr);
                    var summa = parseInt($('.total .summa').text());

                    $.each(json, function(index, value){
                        if(index==obj){
                            summa = summa - parseInt(value['price']);
                            json.splice(index, 1);
                        }


                });
                $.cookie('cart', JSON.stringify(json), {path: '/'});
                $('.total .summa').text(summa);
                parent.remove();
                $.each($('.id'), function(index, value) {
                    $(this).text(index);
                 });
             });


        });

    </script>


</body>
</html>